{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-14"> <!-- Increased width to col-md-8 -->
      <div class="card mt-7">
        <div class="card-body mb-3">
          <h2 class="card-title text-center">Create New Note</h2>
          <hr>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="id_title">Title</label>
              <input type="text" name="title" id="id_title" class="form-control" placeholder="Enter the title">
            </div>
            <div class="form-group mb-3">
              <label for="id_content">Content</label>
              <textarea name="content" id="id_content" class="form-control" rows="10" placeholder="Enter the content"></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Create</button>
              <a href="{% url 'notes_list' %}" class="btn btn-secondary">Cancel</a>
            </div>
          </form>
          {% if form.errors %}
          <div class="alert alert-danger mt-4" role="alert">
            <strong>Oops!</strong> Something went wrong.
            <ul>
              {% for field in form %}
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
